body {
    background-image: url("/images/bg01.png");
    background-repeat: repeat;
    font-family: 'Gentium Book Basic', serif;
}

p {
    font-size: 1.25em;
}

.footer-link-text {
    font-size: 1em;
}

/*google fonts*/
/*font-family: 'Righteous', cursive;*/
/*font-family: 'Berkshire Swash', cursive;*/
/*font-family: 'Contrail One', cursive;*/
/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Gentium Book Basic', serif;*/

h1,h2,h3,h4, .btn {
    font-family: 'Righteous', cursive;
}

.top-banner {
    border-radius: 0;
}

img {
    border-radius: 3px;
}

.navbar {
    margin-bottom: 0px;
    font-family: 'Righteous', cursive;
}

.top-login-buttons-row {
    display: inline-flex;
}

.navbar-right li {
    margin: 10px 5px 0px 5px;
}

.login-buttons-row .btn {
    margin: 0px 5px 0px 0px;
}

.navbar-brand>img {
    margin-top: -5px;
}

.profile-buttons-row .btn {
    margin: 0px 5px 0px 0px;
}

.table td,th {
   text-align: center;
}

.table-img-center {
    margin: auto;
}

/*404 page*/
.fourohfour {
    background-image: url("/images/stars.jpg");
    margin: 0 0 -20px 0;
    padding: 10px 0 20px 0;
}

.fourohfour {
    color: lightgray;
}

/*thumbnail album covers*/
.lpImage {
    max-height: 200px;
    max-width: 200px;
}

/*popup window showing lp added successfully*/
#lp-added-success {
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
}
