<div class="container">

    <div class="row text-center">
        <hr>
        <h2>Add LP</h2>
        <h4>Lookup your LP by Catalog Number</h4>
        <small>(Found on the cover, spine, or inner label)</small>
        <hr>
    </div>

    <div class="row">
        <form id="add-lp-form">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <input type="text" class="catalogNumber form-control" placeholder="Catalog #">
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger btn-md form-control" type="submit">Submit!</button>
            </div>
            <div class="col-md-2"></div>
        </form>
    </div>

    <br>

    <!-- search results go here -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <img src="http://lorempixel.com/200/200" class="img-responsive">
        </div>
        <div class="col-md-6">
            <p>Artist Name: artist name...</p>
            <p>Album Name: album name...</p>
            <p>Catalog #: catalog #...</p>
            <p>Album Year: album year...</p>
            <p>Album Genre: genre...</p>
        </div>
        <div class="col-md-2"></div>
    </div>

    <hr>

    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4>If this matches your LP:</h4>
            <h3>What is the condition of the media?</h3>
            <!-- need to add v-model="mediaCondition" -->
            <select class="form-control">
                <option>Mint (M)</option>
                <option>Near Mint (NM or M-)</option>
                <option>Very Good Plus (VG+)</option>
                <option>Very Good (VG)</option>
                <option>Good Plus (G+)</option>
                <option>Good (G)</option>
                <option>Fair (F)</option>
                <option>Poor (P)</option>
            </select>
            <h3>What is the condition of the media?</h3>
            <!-- need to add v-model="sleeveCondition" -->
            <select class="form-control">
                <option>Mint (M)</option>
                <option>Near Mint (NM or M-)</option>
                <option>Very Good Plus (VG+)</option>
                <option>Very Good (VG)</option>
                <option>Good Plus (G+)</option>
                <option>Good (G)</option>
                <option>Fair (F)</option>
                <option>Poor (P)</option>
                <option>Generic</option>
                <option>No Cover</option>
            </select>
            <h3>Purchase Price?</h3>
            <!-- need to add v-model="purchasePrice" -->
            <input type="text" class="form-control" placeholder="$?">
            <br><br>
            <button type="submit" class="form-control btn btn-success">
                ADD LP TO COLLECTION
            </button>
            <br><br>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
